/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 29, 2024, 8:00:49 PM
    Author     : alexander
*/
body{
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 90px 20px 0;
}
#titulo{
  position: absolute;
  color: black;
  font-weight: bold;
  Font-size:50px;
  margin:0;
  padding:0;
  text-align: center; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);

 
    
}
.tbody{
  text-align: center;
  color: green;  
}
.posimg{
    display: flex; 
    justify-content: space-around;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: gray;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width:700px;
    margin:  auto;
    }

.nav-menu{
   padding: 0;
   margin:15%;
  width: 100%;
    }    
    .article{
        text-align: center;
    }  
.nav-menu-item{
   background-color: lightcyan;
    display: inline;
   
    }
    
.nav-menu-link{
   font-size: 18px;
   line-height: 90px;
   width: max-content;    
    }
.nav-menu-link:hover{
   background-color: aquamarine;
    transition: 0.5s;   
    }
.aside {
    text-align: center; 
    position: fixed;
    top: 20%;
    left: 0;
    width: 20%;
    height: 75%;
    background-color: darkseagreen;
}

.section {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 80%;
    height: 75%;
    background-color: bisque;
    overflow-y: scroll;
}
.sectionv {
    position: fixed;
    top: 20%;
    text-align: center;
    width: 95%;
    height: 75%;
    background-color: bisque;
    overflow-y: scroll;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: yellowgreen;
    text-align: center;
}

.divform{
     display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
   margin:15%;
  width: 100%;
}
.formulario1{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    
}